/* Minimal custom styles for MUI components */
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loginCard {
  min-width: 17.5rem;
  text-align: center;
  padding: 1rem;
}
.campaignUpload{
  display: flex;
}
.header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
